<!DOCTYPE html>
<html>
<head>
  <title>Rubynotifier</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" => true %>
  <%= csrf_meta_tags %>
  <%= ga_tracking_snippet %>
</head>
<body data-controller="<%= params[:controller] %>" data-action="<%= params[:action] %>">

<a class="github-ribbon" href="https://github.com/ayumi/rubynotifier"><img src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>

<%= image_tag 'rubynotifier.png', :alt => "RubyNotifier Logo" %>

<% if flash.present? %>
  <div id="flashes">
    <% flash.each do |(key, notice)| %>
      <div class="flash <%= key %>"><%= notice %></div>
    <% end %>
  </div>
<% end %>

<%= yield %>

<footer>
  follow me <%= link_to "@colour", "https://twitter.com/colour" %>
</footer>

</body>
</html>
