<!DOCTYPE html>
<html>
<head>
  <title>Rubynotifier</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash.present? %>
  <div id="flashes">
    <% flash.each do |(key, notice)| %>
      <div class="flash <%= key %>"><%= notice %></div>
    <% end %>
  </div>
<% end %>

<%= yield %>

</body>
</html>
