<!DOCTYPE html>
<html>
<head>
  <title>Rubynotifier</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" => true %>
  <%= csrf_meta_tags %>
</head>
<body data-controller="<%= params[:controller] %>" data-action="<%= params[:action] %>">

<%= image_tag 'rubynotifier.png', :alt => "RubyNotifier Logo" %>

<% if flash.present? %>
  <div id="flashes">
    <% flash.each do |(key, notice)| %>
      <div class="flash <%= key %>"><%= notice %></div>
    <% end %>
  </div>
<% end %>

<%= yield %>

<footer>
  by <%= link_to "@colour", "https://twitter.com/colour" %> | <%= link_to "fork me on GitHub", "https://github.com/ayumi/rubynotifier" %>
</footer>

</body>
</html>
